
<!doctype html>
<html lang="en">
  <head>
  <title>Reader.io</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
    {% if message == "Sign In"%}
    <form class="form-signin" action="{{ url_for('index')}}" method="post">
    {% else %}
    <form class="form-signin" action="{{ url_for('register')}}" method="post">
    {% endif %}
     <h1 class="mb-4"> Reader.io</h1>
  <h1 class="h3 mb-3 font-weight-normal">{{ message }}</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="username" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
  {% if message == "Sign In"%}
  <br>
  {% else %}
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" required> I agree with the terms of service
    </label>
    {{ inuse }} 
  </div>
  {% endif %}
  {{ invalidinfo }} {{ sucesslog }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ enter }}</button>
  {% if message == "Sign In"%}
  <a class="muted-text" href="{{ url_for( 'register' ) }}"> Click here to Register </a>
  {% else %}
   <a class="muted-text" href="{{ url_for( 'index' ) }}"> Click here to login </a>
  {% endif %}
  <p class="mt-5 mb-3 muted-text">Developed with <span style="color: red;"> &#9829 </span> by Olusola</p>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
